body{

    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

}

.divContainer{
    display: flex;
}

.table{

    background-color:#fff;
    box-shadow:0 3px 8px rgba(0,0,50,.15);
    border-radius:3px;
    line-height:20px;
    font-family: Karla,sans-serif;
    width: 120%;
    color: #616b77;
    font-size: 14px;
    padding: 0px 0px 20px 0px;
}

.campaignSideNav{

    background-color:#fff;
    box-shadow:0 3px 8px rgba(0,0,50,.15);
    border-radius:3px;
    line-height:20px;
    font-family: Karla,sans-serif;
    width: 122%;
    color: #616b77;
    font-size: 14px;
    padding: 0px 0px 20px 0px;
}

.table3{

    background-color:#fff;
    box-shadow:0 3px 8px rgba(0,0,50,.15);
    border-radius:3px;
    line-height:20px;
    font-family: Karla,sans-serif;
    width: 130.5%;
    color: #616b77;
    font-size: 14px;
    padding: 0px 0px 20px 0px;
}


.table1{

    background-color:#fff;
    box-shadow:0 3px 8px rgba(0,0,50,.15);
    border-radius:3px;
    line-height:20px;
    font-family: Karla,sans-serif;
    width: 129.6%;
    color: #616b77;
    font-size: 14px;
    padding: 0px 0px 20px 0px;
}

.table4{

    background-color:#fff;
    box-shadow:0 3px 8px rgba(0,0,50,.15);
    border-radius:3px;
    line-height:20px;
    font-family: Karla,sans-serif;
    width: 129.4%;
    color: #616b77;
    font-size: 14px;
    padding: 0px 0px 20px 0px;
}
.table5{

    background-color:#fff;
    box-shadow:0 3px 8px rgba(0,0,50,.15);
    border-radius:3px;
    line-height:20px;
    font-family: Karla,sans-serif;
    width: 139.4%;
    color: #616b77;
    font-size: 14px;
    padding: 0px 0px 20px 0px;
}

.table6{

    background-color:#fff;
    box-shadow:0 3px 8px rgba(0,0,50,.15);
    border-radius:3px;
    line-height:20px;
    font-family: Karla,sans-serif;
    width: 120.4%;
    color: #616b77;
    font-size: 14px;
    padding: 0px 0px 20px 0px;
}


.table2{

    background-color:#fff;
    box-shadow:0 3px 8px rgba(0,0,50,.15);
    border-radius:3px;
    line-height:20px;
    font-family: Karla,sans-serif;
    width: 114.2%;
    color: #616b77;
    font-size: 14px;
    padding: 0px 0px 20px 0px;
}

.table6{

    background-color:#fff;
    box-shadow:0 3px 8px rgba(0,0,50,.15);
    border-radius:3px;
    line-height:20px;
    font-family: Karla,sans-serif;
    width: 135.6%;
    color: #616b77;
    font-size: 14px;
    padding: 0px 0px 20px 0px;
}

.tableTd{
    border: aliceblue;
    border-bottom-color: #ccc;
    padding-top: 8px;
    padding-bottom: 9px;
}

.fontAwesomeTag{
    margin-left:10px;
    color:#616b77;
    font-size:12px;
    cursor:pointer
}

.parentSpanTag{
    font-size:13px;
    font-weight:600;
    color:#616b77;
    letter-spacing:1px;
    cursor:pointer;
}

.childSpanTag{
    text-align: center;
    font-weight: 400;
    margin-left: 10px;
    color: #616b77;
    margin-right: 25px;
    cursor: pointer;
    font-size: 13px;
}

.aTag{
    text-decoration:blink;
    color: #343944;
    font-size:14px;
    font-weight:700;
    cursor: pointer;
}

.userName{
    margin-top: -50px;
    margin-left: 78px;
    font-size: 13px;
    font-weight: 600;

}
.userName1{
    margin-top: -55px;
    margin-left: 78px;
    font-size: 13px;
    font-weight: 600;

}
.selection{
    color: rgb(173, 167, 167);
    font-size: 12px;
    border-radius: 3px;
    height: 44px;
    width: 15.1%;
    border: solid 1px #e4e7eb;
    padding-left: 10px;
    background-color: #fff;
    margin-top: -1px;
    margin-bottom: 4px;
}

.selectionProspectus{
    color: rgb(173, 167, 167);
    font-size: 12px;
    border-radius: 3px;
    height: 44px;
    width: 12.1%;
    border: solid 1px #e4e7eb;
    padding-left: 10px;
    background-color: #fff;
    margin-top: -1px;
    margin-bottom: 4px;
}
.selection1 {
    font-size: 12px;
    border-radius: 3px;
    height: 44px;
    width: 16.4%;
    border: solid 1px #e4e7eb;
    padding-left: 10px;
    background-color: #fff;
    margin-top: -1px;
    margin-bottom: 5px;
    margin-right: 5px;

}
.selectionGrid {
    font-size: 12px;
    border-radius: 3px;
    height: 44px;
    width: 16.4%;
    border: solid 1px #e4e7eb;
    padding-left: 10px;
    background-color: #fff;
    margin-top: -1px;
    margin-bottom: 5px;
    margin-right: 5px;

}
.selection2{
    text-decoration: none;
    border: 1px solid rgb(0, 212, 120);
    padding: 10px;
    color: rgb(0, 212, 120);
    margin-right: 5px;
}
.selection3{
    text-decoration: none;
    border: 1px solid rgb(0, 212, 120);
    padding: 10px;
    color: rgb(0, 212, 120);

    /*   display: inline;
       text-decoration: none;
       border: 1px solid rgb(0, 212, 120);
       padding: 0.9% 26% 1.2% 26%;
       color: rgb(0, 212, 120);
       !* width: 154%; *!
       float: left;*/
}

.numberField{
    width: 16%;
    height: 34px;
    border: 1px solid rgb(157, 157, 157);
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 8px;
    margin-right: 10px;
}

.gridView{
    float:left;
    margin-left: 45px!important;
    position: fixed;
}

.scheduleView{
    display: flex;
    margin-bottom: 5px;
}
.scheduleSelect{
    color: rgb(173, 167, 167);
    font-size: 12px;
    border-radius: 3px;
    height: 44px;
    width: 165.5%;
    border: solid 1px #e4e7eb;
    padding-left: 10px;
    background-color: #fff;
    margin-top: -1px;
    margin-bottom: 4px;

}
.scheduleSelect1{
    color: rgb(173, 167, 167);
    font-size: 12px;
    border-radius: 3px;
    height: 44px;
    width: 207.5%;
    border: solid 1px #e4e7eb;
    padding-left: 10px;
    background-color: #fff;
    margin-top: -1px;
    margin-bottom: 4px;

}
.refreshButton{
    padding: 11px 24px 10px 27px;
    background: rgb(0, 212, 120);
    color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;

}
.refreshButton2{
    padding: 12px 25px 10px 21px;
    background: rgb(0, 212, 120);
    color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    margin-top: -7px;
    height: 42px;
}
.clientRqlistSelection{
    color: rgb(173, 167, 167);
    font-size: 11px;
    border-radius: 5px;
    padding-left: 4px;
    background-color: transparent;
    height: 32px;
    border: 1px solid rgb(204, 204, 204);
    margin-right: 8px;
    pointer-events: none;
    width: 10%;

}

.navBar{
    width: 144px;
    height: 35px;
    margin-left: -118px;
}
#navBarRight{
    margin-right: 2%;
    text-align: right;
    margin-top: 16px;
}
.navLink{
    font-size: 14px;
    text-decoration: none;
    padding-right: 29px;
    font-family: Karla,sans-serif;
}
.navDesign{
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0px;
    z-index: 100;
    padding: 12px;
    border: 1px solid #E4E7EB;
}
.iconMargin{
    margin-left: 19px;
}
.topMargin{
    margin-top: 94px;
    overflow: hidden;
}

.topMarginRequirement{
    margin-top: 137px;
}

.bornChild{
    border-bottom:1px solid #e8eaee;
    height: 30px;
    border-top: aliceblue;
    border-left: aliceblue;
    border-right: aliceblue;
    padding: 7px 17px 9px;
}
.containTop{
    border: 1px solid #e8eaee;
    background: #fff;
    border-radius: 3px;
    width: 100%;
    min-height: 45px;
    padding: 13px 10px 4px 13px;
    white-space: normal;
    font-size: 14px;
    margin-top: 44px;
    margin-bottom: 5px;
    color: rgb(173, 167, 167);
}
.buttonTop{
    float:right;
}
.secondGrid{
    float:left;
    margin-left: 270px!important;
    width:75%;
}

.secondGridRequirement{
    float:left;
    margin-left: 200px!important;
    width:75%;
}
.dateCSS {
    color: rgb(173, 167, 167);
    font-size: 12px;
    border-radius: 3px;
    height: 44px;
    width: 14.3%;
    border: solid 1px #e4e7eb;
    background-color: #fff;
    padding: 10px 14px 10px 12px;
}
.dateCSS2{
    color: rgb(173, 167, 167);
    font-size: 12px;
    border-radius: 3px;
    height: 44px;
    width: 14.3%;
    border: solid 1px #e4e7eb;
    background-color: #fff;
    padding: 10px 14px 10px 12px;
    margin-left: 5px;
}
.labelInside {
    position: absolute;
    top: 182px;
    left: 73.8%;
    font-size: 10px;
    color: #858c99;
}
.labelInsideProspectus {
    position: absolute;
    top: 182px;
    left: 64.8%;
    font-size: 10px;
    color: #858c99;
}
.labelInside1 {
    position: absolute;
    top: 182px;
    left: 84.9%;
    font-size: 10px;
    color: #858c99;
}

.labelInside1Prospectus {
    position: absolute;
    top: 182px;
    left: 75.9%;
    font-size: 10px;
    color: #858c99;
}

.leadIcon{
    background-color: rgb(0, 212, 120);
    margin-right: 9px;
    font-size: 18px;
    border: 1px solid rgb(0, 212, 120);
    border-radius: 20px;
    padding: 4px;
    height: 25px;
    width: 25px!important;
    margin-left: 5px;
    color: white;
}
.leadIcon2{
    background-color: rgb(0, 212, 120);
    margin-right: 9px;
    font-size: 18px;
    border: 1px solid rgb(0, 212, 120);
    border-radius: 20px;
    padding: 5px;
    height: 25px;
    width: 25px!important;
    margin-left: 5px;
    color: white;
}
.leadFollowUpPage{
    margin-right: 7%;
    margin-top: 0px;
    padding: 0px 30px 30px 30px;
    border-left: 1px solid rgb(204, 204, 204);
    font-weight: bold;
}
.leadFollowUpSelect{
    color: #ada7a7;
    margin-bottom: 5px;
    font-size: 12px;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 5px;
    background-color: transparent;
    height: 35px;
    width: 40%;
    border: 1px solid #ccc;
    margin-right: 15px;
    outline: none;

}
.leadFollowUpInput{
    color: #ada7a7;
    margin-bottom: 5px;
    font-size: 12px;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 5px;
    background-color: transparent;
    height: 35px;
    width: 40%;
    border: 1px solid #ccc;
    margin-right: 15px;
    outline: none;

}
.FormDiv{
    background-color: white;
    width: 100%;
    margin: 10px 0;
    text-align: left;
    padding: 6px 30px;
    border-radius: 7px;
    margin-right: 187px;
}
.UpperTitle{
    position: absolute;
    font-size: 12px;
    margin-top: 7px;
    margin-left: 12px;
    color: rgb(173, 167, 167);
}

.selectSection1{
    color: rgb(173, 167, 167);
    margin-bottom: 5px;
    font-size: 12px;
    border-radius: 2px;
    padding-left: 5px;
    padding-top: 17px;
    height: 45px;
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    background-color: white;
}

.selectSectionAnother{
    color: rgb(173, 167, 167);
    margin-bottom: 5px;
    font-size: 12px;
    border-radius: 2px;
    padding-left: 5px;
    padding-top: 17px;
    height: 45px;
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    background-color: white;
}
.tableStyle{
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 50, 0.15) 0px 3px 8px;
    border-radius: 3px;
}

.boxStyle{
    border: 1px solid #e8eaee;
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    box-shadow: rgba(0, 0, 50, 0.15) 0px 3px 8px;
}

.saveButton{
    border: 1px solid rgb(0, 212, 120)!important;
    padding: 5px 10px!important;
    width: 10%!important;
    background-color: rgb(0, 212, 120)!important;
    color: white!important;
    font-size: 14px!important;
    font-weight: 600!important;
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 21px;
    margin-top: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    margin-top: 5px;
    height: 17px;
    width: 19px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider{
    border-radius: 34px;
}

.slider:before {
    border-radius: 50%;
}

.closeText{
    float: left;
    margin-left: 60px;
    margin-top: -14px;
    margin-bottom: 0px;
}

.numberBox{
    width: 90%;
    margin-right: 7px;
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    font-weight: 500;
    height: 32px;
}
.numberBox:hover{
   border-color: blue;
}
.selectTime{
    padding: 5px 10px;
    height: 32px;
    border-radius: 5px;
    width: 100px;

}
.selectTime:hover{
   border-color: blue;

}

.selectTime1{
    padding: 5px 10px;
    height: 32px;
    border-radius: 5px;


}
.selectTime1:hover{
    border-color: blue;

}
