body{

    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

}

.divContainer{
    display: flex;
}


.navBar{
    width: 144px;
    height: 35px;
    margin-left: -118px;
}
#navBarRight{
    margin-right: 2%;
    text-align: right;
    margin-top: 16px;
}
.navLink{
    font-size: 14px;
    text-decoration: none;
    padding-right: 29px;
    font-family: Karla,sans-serif;
}
.navDesign{
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0px;
    z-index: 100;
    padding: 12px;
    border: 1px solid #E4E7EB;
}
