.backgroundChanger {
    background: url(../../static/images/signInPopup3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    text-align:center;
    height: 735px;

}
.backgroundChanger::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(252, 87, 84, 0.6);
    z-index: -1;
}

.hide{
    display: none;
}

@media screen and (max-width: 1000px) {
    .show{
        display: none;
    }
    .hide{
        display: block;
    }
}